html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

h1 {
    text-align: center;
    font-size: 75px;
    padding: 50px;
}

hr.line-one {
    border-top: 2px dotted gray;
    width: 50%;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 40px 0px;
}

/* .box-one {
    width: 250px;
    height: 250px;
    background-color: lightgreen;
    margin: auto;
} */

.box-two {
    display: flex;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    width: 550px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.box-model {
    width: 175px;
    height: 100px;
    background-color: #CCCCCC;
    margin: 0px 4px;
}

.box-three {
    display: flex;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    width: 550px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.box-model-three {
    width: 175px;
    height: 100px;
    background-color: #CCCCCC;
    margin: 0px 4px;
    border: 1px solid black;
    margin: 10px 5px;
}

p {
    font-size: 25px;
    text-align: center;
}

.box-four {
    display: flex;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    width: 550px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.box-model-four {
    width: 175px;
    height: 100px;
    background-color: #CCCCCC;
    margin: 0px 4px;
    border: 1px solid black;
    margin: 10px 5px;
}